<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.tarc.rewardreferralapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RewardReferralApp">
        <activity android:name=".ViewInsuranceActivity"></activity>
        <activity android:name=".ClaimListingActivity" />
        <activity android:name=".ApplyClaimSuccessActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="my.edu.tarc.rewardreferralapp.ReferralInsuranceListingActivity" />
        </activity>
        <activity android:name=".ApplyClaimActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="my.edu.tarc.rewardreferralapp.ReferralInsuranceListingActivity" />
        </activity>
        <activity android:name=".ReferralInsuranceListingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="my.edu.tarc.rewardreferralapp.MainActivity" />
        </activity>
        <activity android:name=".GetStarted">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomepageActivity" />
        <activity android:name=".StaffDashboard" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>